.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.main h1{
    margin: 0;
    padding: 0;
}

.main hr{
    font-size: xx-large;
}

.main p{
    text-align: justify;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 0;
        padding: 0 10vw;
}

.author h2{
    margin: 0;
    padding: 0;
}